* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141414;
}

.grid-container {
  position: relative;
  width: 1250px;
  height: 386px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-item {
  background-color: royalblue;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  position: absolute;
}

#item-1 {
  width: 236px;
  height: 164px;
  top: 0;
  left: 0;
}

#item-2 {
  width: 236px;
  height: 164px;
  top: 0;
  left: 246px;
}

#item-3 {
  width: 236px;
  height: 164px;
  top: 0;
  left: 492px;
}

#item-4 {
  width: 236px;
  height: 164px;
  top: 0;
  left: 738px;
}

#item-5 {
  width: 236px;
  height: 334px;
  top: 174px;
  left: 0;
}

#item-6 {
  width: 482px;
  height: 334px;
  top: 174px;
  left: 246px;
}

#item-7 {
  width: 236px;
  height: 334px;
  top: 174px;
  left: 738px;
}

#item-8 {
  width: 236px;
  height: 164px;
  top: 518px;
  left: 0;
}

#item-9 {
  width: 236px;
  height: 164px;
  top: 518px;
  left: 246px;
}

#item-10 {
  width: 482px;
  height: 164px;
  top: 518px;
  left: 492px;
}

.grid-item:hover {
  background-color: red;
}

#item-1:hover {
  width: 286px;
  left: -50px;
}

#item-2:hover {
  height: 214px;
  top: -50px;
}

#item-3:hover {
  height: 214px;
  top: -50px;
}

#item-4:hover {
  width: 286px;
}

#item-5:hover {
  width: 286px;
  left: -50px;
}

#item-7:hover {
  width: 286px;
}

#item-8:hover {
  height: 214px;
}

#item-9:hover {
  height: 214px;
}

#item-10:hover {
  width: 539px;
}
